.product {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    padding: 30px 30px 80px;
    overflow: hidden;

    &:hover {
        .product {
            &__hidden-content {
                opacity: 1;
                transform: translateY(0);
                transition: all 0.5s ease;
            }
        }
    }

    &__discount {
        background: #ea3b02;
        color: #ffffff;
        display: inline-block;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 15px;
        width: 40px;
        height: 45px;
        z-index: 9;
        font-size: 14px;
        padding: 5px;

        &-text {
            display: block;
            margin-bottom: 2px;
        }
    }

    &__image {
        margin-bottom: 30px;
        height: 163px;

        @media screen and (min-width: 768px) {
            height: 14.2vw;
        }

        @media screen and (min-width: 1366px) {
            height: 163px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        color: #1b222a;
        transition: color 0.3s linear;

        &:hover {
            color: #ff8f00;
        }
    }

    &__price-holder {
        text-align: center;
    }

    &__price {
        color: #ea3b02;

        &-old {
            color: #a1a0a0;
        }
    }

    &__hidden-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        padding: 20px;
        transform: translateY(100px);
        transition: all 0.3s ease;
    }

    &__btn-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }

    &__btn {
        background: #2ba8db;
        border-radius: 5px;
        color: #ffffff;
        display: block;
        font-weight: bold;
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        text-transform: uppercase;
        margin: 0 5px;
        font-size: 14px;
        border: 0;
        display: flex;
        align-items: center;
        transition: color 0.3s linear;
        
        &:hover {
            color: #ff8f00;
            cursor: pointer;
        }
    }
}