#wrapper {
  width: 100%;
  overflow: hidden;
  background: $base-background-color;
}

.container {
    max-width: $max-width-center-container;
    width: 100%;
    padding: $padding-container;
    margin: 0 auto;
}