.header {
    background-color: #2ba8db;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 120px;
    }
}

.header-top-navigation {
    background-color: #008dc7;
    padding: 14px 0;

    .container {
        display: flex;
        justify-content: flex-end;
    }
}

.header-common {
    padding: 18px 0 27px;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__right-side {
        margin-left: 30px;
    }
}